                    <div class="main-banner" style="background-image: url('/static/images/default_banner_background.png');">
                        <div class="row">
                            <div class="col-lg-7 banner-content">
                                <div class="header-text">
                                    <h6>Welcome to...</h6>
                                    <h4>Games V2!</h4>
                                    <div class="main-button">
                                        <a href="/games">Browse Games (N/I)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 offset-lg-2 col-sm-6 mb-3 banner-game-card">
                                <a href="/games">
                                    <div class="item">
                                        <img src="/static/images/image_not_found.png" alt="Game Image"
                                            onerror="this.onerror=null;this.src='/assets/images/image-not-found.png';">
                                        <h4>Featured Game (N/I)</h4>
                                    </div>
                                </a>
                            </div>
                        </div>